<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title><%= pageTitle %> </title>

</head>


<body>
  <header class="header">
    <div class="header__logo">
      <a href="/">
        <img class="header__logo-img" src="/images/logo.png" alt="logo">
      </a>
    </div>
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-list-item <%= path === '/' ? 'active' : ''  %> "><a class=" nav-link" href="/">Home</a></li>
        <% if (isLoggedIn) { %>
        <li class="header__nav-list-item <%= path === '/member' ? 'active' : ''  %>"><a class="nav-link" href="/member">Member</a></li>
        <li class="header__nav-list-item <%= path === '/admin' ? 'active' : ''  %>"><a class="nav-link" href="/admin">Admin</a>
        </li>
        <li class="header__nav-list-item <%= path === '/post' ?'active' : ''  %>"><a class="nav-link" href="/new-post">New Post</a></li>
        <li class="header__nav-list-item <%= path === '/logout' ? 'active' : ''  %>"><a class="nav-link" href="/logout">Logout</a></li>
        <% } else { %>
        <li class="header__nav-list-item <%= path === '/login' ? 'active' : ''  %>"><a class="nav-link" href="/login">Login</a>
        </li>
        <li class="header__nav-list-item <%= path === '/signup' ? 'active' : ''  %>"><a class="nav-link" href="/signup">Sign Up</a></li>
        <% } %>
      </ul>
    </nav>
  </header>